#products {
  margin-top: 30px;
  margin-bottom: 30px;
}

#products .icon {
  text-align: center;
  color: darkorange;
}

#video {
  text-align: center;
  margin-bottom: 30px;
}

#pricing {
  text-align: center;
}

#pricing ul {
  list-style: none;
}

#pricing .product {
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

#pricing .product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

#pricing .product > h2 {
  margin-top: 15px;
}

#pricing .product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}


header {
    position: sticky; 
    top: 0; 
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#divform{
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#divform p{
    font-size: 25px;
}

#email
{
    font-size: 20px;
    min-width: 200px;
}

#submit{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    background-color: #F1C40F;
    border: #F1C40F;
}

#nav-bar ul{
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}
#nav-bar li {
    list-style: none; 
    min-width: 150px;
  }

#nav-bar a {
    color: #000; 
    text-decoration: none;
  }
.logo {
    width: 60vw;
}

.logo > img {
    max-width: 300px; 
    /*display: flex;*/ 
    margin-left: 20px;
  }

  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
    }

    #nav-bar ul{
        flex-direction: column;
        margin:5px;
    }
  }

  @media(max-width:500px)
  {
    header{
        flex-direction: column;
    }
  }

